.background {
  -fx-background-color: #1d1d1d;
}


/* BUTTON'S STYLE */

.button {
  -fx-background-color: derive(#1d1d1d, 20%);
  -fx-text-fill: #fff;
  -fx-pref-width: 79;
  -fx-pref-height: 37;
  -fx-font-size: 14;
}

.buttonContainer {
  -fx-alignment: center;
  -fx-spacing: 100;
}

.playButton:hover {
  -fx-background-color: green;
  -fx-text-fill: white;
}

.quitButton:hover {
  -fx-background-color: orange;
  -fx-text-fill: white;
}

.button:hover,
.button:selected {
  -fx-background-color: #fff;
  -fx-background-insets: 0 0 -1px 0, 0, 1px, 2px;
  -fx-background-radius: 5px, 5px, 4px, 3px;
  -fx-text-fill: derive(#1d1d1d, 20%);
}


/* LABEL'S STYLE */

.label {
  -fx-font-family: Arial, Helvetica, sans-serif;
  -fx-font-size: 14;
}

.disclaimer {
  -fx-text-fill: #0042ff;
  -fx-font-size: 15;
}

.title {
  -fx-font-size: 18;
  -fx-alignment: center;
}

.fieldLabel {
  -fx-text-fill: #fff;
}

.errorLabel {
  -fx-text-fill: red;
  -fx-alignment: center;
}





